<!DOCTYPE html>
html(lang="fr")
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Une application qui va vous permettre de diviser les tâches pour mieux vous organiser !")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="manifest" href="/manifest.json")
    link(rel="stylesheet" href="/style.css")
    script.
      navigator.serviceWorker.register("/sw.js")
      .then(() => console.log('Service worker is registered'))
      .catch(err => console.warn(err));
    script(async src="/script.js")
  header
    h1 Qui prend quoi ?
  body